{extend name="base/base" /}
{block name="main"}
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">课程</label>
        <div class="layui-input-block">
            <select name="course_id" lay-filter="course">
                <option value=""></option>
                {foreach $course_data as $v}
                <option value="{$v.id}">{$v.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">章节名称</label>
        <div class="layui-input-block">
            <input type="text" name="section_name" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标：</label>
        <div class="layui-input-inline">
            　　　　　<!--存放上传后图片路径-->
            <input type="text" name="section_icon"  id="inputsectionurl" placeholder="图标地址" value="" class="layui-input">
        </div>
        <button type="button" class="layui-btn" id="upload_section"><i class="layui-icon"></i>上传图标</button>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div class="layui-input-block">
            <input type="checkbox"  name="status"  checked lay-skin="switch" lay-filter="status" lay-text="启用|禁用">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="section_order" placeholder="请输入"  value="1" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    layui.use(['form','upload'], function(){
        var form = layui.form;
        var upload = layui.upload;
        form.on('switch(status)', function(data){
            if(!this.checked)
            {
                $("input:checkbox[name='status']").val('off')
            }
        });
        $('#inputsectionurl').click(function () {
            var url=$("#inputsectionurl").val()
            previewsection(url)
        })
        function previewsection(url) {
            var imgHtml = "<img src='" + url + "'style='max-width:100%;max-height:100%;display:block;margin:0 auto'/>";
            layer.open({
                type: 1,
                shade: 0.8,
                offset: 'auto',
                area: ['500px','500px'],
                shadeClose:true,//点击外围关闭弹窗
                scrollbar: false,//不现实滚动条
                title: "图片预览", //不显示标题
                content: imgHtml
            });
        }
        upload.render({
            elem: '#upload_section'
            ,url: "{:url('/admin/sectionUpload')}"
            ,accept: 'images' //图片
            ,done: function(res){
                if(res.code==200){
                    $("#inputsectionurl").val(res.data.src);
                    previewsection(res.data.src)
                }
                layer.msg(res.msg);
                return false;
            }
        });
        //监听提交
        form.on('submit(formDemo)', function(data){
            var status=$("input:checkbox[name='status']").val();
            if(status=='on'){
                status=1;
            }else{
                status=2;
            }
            data.field.status=status;
            console.log(JSON.stringify(data.field));
            $.ajax({
                url: "{:url('/admin/sectionAdd')}",
                type: "post",
                dataType: "json",
                data: data.field,
                success: function (res) {
                    if(res.code==200){
                        layer.msg(res.msg,{icon:1});
                    }else{
                        layer.msg(res.msg,{icon:2});
                    }
                    setTimeout(function () {
                        parent.location.reload();
                    },500);
                }
            })
            return false;
        });
    });
</script>
{/block}