{extend name="base/base" /}
{block name="main"}
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">知识点</label>
        <div class="layui-input-block">
            <select name="unit" lay-verify="required" >
                <option value=""></option>
                {foreach $unit as $v}
                {if $v.id==$ppt_data.unit_id}
                <option selected value="{$v.id}">{$v.name}</option>
                {else}
                <option value="{$v.id}">{$v.name}</option>
                {/if}
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" value="{$ppt_data.title}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">ppt简介</label>
        <div class="layui-input-block">
            <textarea name="introduction"  class="layui-textarea">{$ppt_data.introduction}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">封面图：</label>
        <div class="layui-input-inline">
            　　　　　<!--存放上传后图片路径-->
            <input type="text" name="banner" value="{$ppt_data.banner}" id="inputbannerurl" placeholder="图片地址" class="layui-input">
        </div>
        <button type="button" class="layui-btn" id="upload_banner"><i class="layui-icon"></i>上传封面</button>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">ppt：</label>
        <div class="layui-input-inline">
            　　　　　<!--存放上传后ppt路径-->
            <input type="text" name="ppt"  id="inputppturl" value="{$ppt_data.file_url}"  class="layui-input">
        </div>
        <button type="button" class="layui-btn" id="upload_ppt"><i class="layui-icon"></i>上传ppt</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" value="{$ppt_data.id}" name="id">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    layui.use(['layedit','form','upload'], function(){
        var layedit = layui.layedit;
        var form = layui.form;
        var upload = layui.upload;

        layedit.set({
            uploadImage:{
                url:"{:url('/admin/upload')}",
                type:'post'
            }
        });
        index=layedit.build('title',{

        }); //建立编辑器
        upload.render({
            elem: '#upload_ppt'
            ,url: "{:url('/admin/pptUpload')}"
            , exts: 'zip|rar|7z|doc|docx|pdf|txt|xls|ppt|xlsx|pptx|img|jpg|png|gif|bmp|jpeg' //只允许上传压缩文件
            ,done: function(res){
                if(res.code==200){
                    $("#inputppturl").val(res.data.src);
                    layer.msg('上传成功',{icon:1});
                }
                layer.msg(res.msg);
                return false;
            }
        });
        $('#inputppturl').click(function () {
            var url=$("#inputppturl").val()
        })
        upload.render({
            elem: '#upload_banner'
            ,url: "{:url('/admin/bannerUpload')}"
            ,exts:"jpg|png|gif|bmp|jpeg"
            ,done: function(res){
                if(res.code==200){
                    $("#inputbannerurl").val(res.data.src);
                    previewbanner(res.data.src)
                }
                layer.msg(res.msg);
                return false;
            }
        });
        $('#inputbannerurl').click(function () {
            var url=$("#inputbannerurl").val()
            previewbanner(url)
        })
        function previewbanner(url) {
            var imgHtml = "<img src='" + url + "'style='max-width:100%;max-height:100%;display:block;margin:0 auto'/>";
            layer.open({
                type: 1,
                shade: 0.8,
                offset: 'auto',
                area: ['500px','500px'],
                shadeClose:true,//点击外围关闭弹窗
                scrollbar: false,//不现实滚动条
                title: "图片预览", //不显示标题
                content: imgHtml
            });
        }
        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url: "{:url('/admin/pptEdit')}",
                type: "post",
                dataType: "json",
                data: data.field,
                success: function (res) {
                    if(res.code==200){
                        layer.msg(res.msg,{icon:1});
                    }else{
                        layer.msg(res.msg,{icon:2});
                    }
                    setTimeout(function () {
                        parent.location.reload();
                    },500);
                }
            })
            return false;
        });
    });
</script>
{/block}