{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" class="layui-input searchVal" placeholder="输入发送消息者账号" />
                </div>
                <a class="layui-btn search_btn" data-type="reload">搜索</a>
            </div>
        </form>
    </blockquote>
    <table id="systemNewsList" lay-filter="systemNewsList"></table>
    <!--操作-->
    <script type="text/html" id="systemNewsListBar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
        {{# if(d.type==2 || d.type==0 || d.type==3){ }}
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="audit">审核</a>
        {{# } }}
    </script>
</form>
{/block}
{block name="script"}
<script>
    layui.use(['form','layer','table'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery, table = layui.table;

        //消息列表
        var tableIns = table.render({
            elem: '#systemNewsList',
            url : "{:url('/admin/systemNewsInfo')}",
            cellMinWidth : 95,
            page : true,
            limit:10,
            limits:[5,10,15,20],
            height : "full-125",
            id:'systemNewsListTable',
            cols : [[
                {field: 'id', title: 'Id', width:100, align:"center"},
                {field: 'from_user', title: '发送者账号',align:'center'},
                {field: 'title', title: '标题',align:'center'},
                {field: 'content', title: '消息内容',align:'center',templet:function (d) {
                        if(d.is_read=='已读'){
                            if(d.content==null){
                                return "";
                            }else{
                                return d.content
                            }
                        }else{
                            return '********';
                        }
                    }},
                {field: 'is_read', title: '是否读过',align:'center'},
                {field: 'type', title: '是否审核',align:'center',templet:function (d) {
                        if(d.status==0){
                            return '未审核';
                        }else if(d.status==1){
                            return '已通过';
                        }else{
                            return '已驳回';
                        }
                    }},
                {title: '操作', width:170, templet:'#systemNewsListBar',fixed:"right",align:"center",}
            ]]
        });

        //搜索【此功能需要后台配合，所以暂时没有动态效果演示】
        $(".search_btn").on("click",function(){
            table.reload("systemNewsListTable",{
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    user: $(".searchVal").val()  //搜索的关键字
                }
            })
        });
        //查看详细信息
        function detail(id,content){
            $.ajax({
                url: "{:url('/admin/systemNewsStatus')}",
                type: "post",
                dataType: "json",
                data: {id:id},
                success: function (res) {
                    if(res.code==0){
                        layer.msg(res.msg, {
                            icon: 2,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        })
                    }else{
                        if(content==null){
                            content='没有消息';
                        }
                        layer.alert('消息内容:&nbsp;'+ content+'<br>')
                        tableIns.reload()
                    }
                }
            })
        }
        //列表操作
        table.on('tool(systemNewsList)', function(obj){
            var layEvent = obj.event, data = obj.data;
            if(layEvent === 'detail'){ //编辑
                detail(data.id,data.content);
            } else if(layEvent === 'del'){ //删除
                layer.confirm('确定删除操作？',{icon:3, title:'提示信息'},function(index){
                    $.ajax({
                        url: "{:url('/admin/systemNewsDelete')}",
                        type: "post",
                        dataType: "json",
                        data: {id:data.id},
                        success: function (data) {
                            if(data.code==200){
                                var icon=1;
                            }else{
                                var icon=2;
                            }
                            layer.msg(data.msg, {
                                icon: icon,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                                tableIns.reload()
                            });
                        }
                    })
                });
            }else if(layEvent === 'audit'){
                layer.confirm('是否通过？', {
                    btn: ['通过', '驳回'] //可以无限个按钮
                    ,btn2: function(index, layero){
                        //按钮【驳回】的回调
                        $.ajax({
                            url: "{:url('/admin/systemNewsAudit')}",
                            type: "post",
                            dataType: "json",
                            data: {status:2,id:data.id,user_id:data.from_user},
                            success: function (res) {
                                if(res.code==200){
                                    var icon=1;
                                }else{
                                    var icon=2;
                                }
                                layer.msg(res.msg, {
                                    icon: icon,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    tableIns.reload()
                                });
                            }
                        })
                    }
                }, function(index, layero) {
                    //按钮【通过】的回调
                    $.ajax({
                        url: "{:url('/admin/systemNewsAudit')}",
                        type: "post",
                        dataType: "json",
                        data: {status:1,id:data.id,user_id:data.from_user},
                        success: function (res) {
                                if(res.code==200){
                                    var icon=1;
                                }else{
                                    var icon=2;
                                }
                                layer.msg(res.msg, {
                                    icon: icon,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    tableIns.reload()
                                });
                        }
                    })
                });
            }
        });

    })
</script>
{/block}
