{extend name="base/base" /}
{block name="main"}
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">监管模式</label>
        <div class="layui-input-block">
            <select name="type">
                <option value=""></option>
                <option value="1">全自主</option>
                <option value="2">半监管</option>
                <option value="3">全监管</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            <input type="text" name="student_account" value="{$student_data.account}" placeholder="英文或数字组合，最少6位最多16位" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="student_name" value="{$student_data.name}" placeholder="用户名最少一个汉字，最多三个汉字" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="text" name="student_password" value="{$student_data.password}" readonly="readonly"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">头像：</label>
        <div class="layui-input-inline">
            　　　　　<!--存放上传后图片路径-->
            <input type="text" name="student_head"  id="inputstudenturl" placeholder="头像地址" value="{$student_data.head}" class="layui-input">
        </div>
        <button type="button" class="layui-btn" id="upload_head"><i class="layui-icon"></i>上传头像</button>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div class="layui-input-block">
            {if($student_data.status)==1}
            <input type="checkbox"  name="status"  checked lay-skin="switch" lay-filter="status" lay-text="启用|禁用">
            {else}
            <input type="checkbox"  name="status" lay-skin="switch" lay-filter="status" lay-text="启用|禁用">
            {/if}
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    layui.use(['form','upload'], function(){
        var form = layui.form;
        var upload = layui.upload;
        form.on('switch(status)', function(data){
            if(!this.checked)
            {
                $("input:checkbox[name='status']").val('off')
            }
        });
        $('#inputstudenturl').click(function () {
            var url=$("#inputstudenturl").val()
            previewstudent(url)
        })
        function previewstudent(url) {
            var imgHtml = "<img src='" + url + "'style='max-width:100%;max-height:100%;display:block;margin:0 auto'/>";
            layer.open({
                type: 1,
                shade: 0.8,
                offset: 'auto',
                area: ['500px','500px'],
                shadeClose:true,//点击外围关闭弹窗
                scrollbar: false,//不现实滚动条
                title: "图片预览", //不显示标题
                content: imgHtml
            });
        }
        upload.render({
            elem: '#upload_head'
            ,url: "{:url('/admin/headUpload')}"
            ,accept: 'images' //图片
            ,done: function(res){
                if(res.code==200){
                    $("#inputstudenturl").val(res.data.src);
                    previewstudent(res.data.src)
                }
                layer.msg(res.msg);
                return false;
            }
        });
        //监听提交
        form.on('submit(formDemo)', function(data){
            var status=$("input:checkbox[name='status']").val();
            if(status=='on'){
                status=1;
            }else{
                status=2;
            }
            data.field.status=status;
            console.log(JSON.stringify(data.field));
            $.ajax({
                url: "{:url('/admin/studentAdd')}",
                type: "post",
                dataType: "json",
                data: data.field,
                success: function (res) {
                    if(res.code==200){
                        layer.msg(res.msg,{icon:1});
                        setTimeout(function () {
                            parent.location.reload();
                        },500);
                    }else{
                        layer.msg(res.msg,{icon:2});
                    }
                }
            })
            return false;
        });
    });
</script>
{/block}